<?xml version="1.0"?>
<config>
    <modules>
        <SM_Base>
            <version>1.0.0</version>
        </SM_Base>
    </modules>
    <frontend>
        <layout>
            <updates>
                <sm_base>
                    <!--app/design/frontend/rwd/sm/layout/sm_base.xml-->
                    <file>sm_base.xml</file>
                </sm_base>
            </updates>
        </layout>
    </frontend>
</config>